# Basic Python

## 1. Split this string

In [43]:
s = "Hi there PAVI!"

In [44]:
print(s.split())

['Hi', 'there', 'PAVI!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [20]:
planet = "Earth"
diameter = 12742

In [ ]:
s="The diameter of {} is {} kilometers".format("Earth",12745)
print(s)

The diameter of Earth is 12745 kilometers

## 3. In this nest dictionary grab the word "hello"

In [15]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [21]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [23]:
a=np.zeros(10)
print(a)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [24]:
a=np.ones(10)*5
print(a)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [25]:
a=np.arange(20,36,2)
print(a)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [26]:
a=np.arange(0,9).reshape(3,3)
print(a)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [27]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c=np.concatenate((a,b),axis=0)
print(c)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [28]:
import pandas as pd

In [30]:
d = {'Name': ['Ram', 'Sita','Renu'],
     'Job':['Engineer','Doctor','Teacher']
     }
a=pd.DataFrame(d)
print(a)

   Name       Job
0   Ram  Engineer
1  Sita    Doctor
2  Renu   Teacher

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [31]:
import datetime
d= datetime.timedelta(days=1)
start_date = datetime.date(2023,1,1)
end_date = datetime.date(2023,2,10)

for i in range((end_date - start_date).days):
    print(start_date + i*d)

2023-01-01
2023-01-02
2023-01-03
2023-01-04
2023-01-05
2023-01-06
2023-01-07
2023-01-08
2023-01-09
2023-01-10
2023-01-11
2023-01-12
2023-01-13
2023-01-14
2023-01-15
2023-01-16
2023-01-17
2023-01-18
2023-01-19
2023-01-20
2023-01-21
2023-01-22
2023-01-23
2023-01-24
2023-01-25
2023-01-26
2023-01-27
2023-01-28
2023-01-29
2023-01-30
2023-01-31
2023-02-01
2023-02-02
2023-02-03
2023-02-04
2023-02-05
2023-02-06
2023-02-07
2023-02-08
2023-02-09

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [32]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [33]:
d = pd.DataFrame(lists, columns =['Sno', 'name','roll']) 
print(d)

   Sno name  roll
0    1  aaa    22
1    2  bbb    25
2    3  ccc    24